* {
    margin: 0;
    padding: 0;
    border: 0;
}

html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

    body > section {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }


            body > section > article > header:before {
                display: block;
                font-size: 1.3rem;
                font-weight: 600;
                text-align: center;
                line-height: 1.5rem;
                /*content: "とりあえず作りなさい";*/
            }

            body > section > article > header:after {
                display: block;
                background-color: black;
                color: white;
                text-align: center;
                padding: 4px;
                margin-top: 2px;
                margin-bottom: 2px;
                font-weight: 400;
                font-size: 1.4rem;
                line-height: 1.4rem;
                border: 1px black solid;
                /*content: "TSJK in ゲーム";*/
            }

        body > section > article > footer:after {
            display: block;
            text-align: right;
            margin-top: 3px;
            font-size: 0.8rem;
            line-height: 0.8rem;
            /*content: "クリアできなくても委員会";*/
        }

        body > section > article > section {
            display: block;
            background-color: black;
            border: 1px black solid;
            line-height: 0;
        }
        
#console {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    font-family: monospace;
}
